li.member
  span.icon
    img.avatar src=member.avatarURL(24)
  span.name
    a href=member.url
      = member.info[:name]
  span.remove
    form.inline action=(person.url(:path => "members/#{member.id}") full=true) method=:post
      input type=:hidden value='delete' name=:_method
      input type=:hidden value=member.id name=:person
      input.link.delete href="#" value=I18n.t('common.remove') type=:submit title=I18n.t('alt-text.removeRow')
  span.description
    markdown:
      = member.info[:description]
