- if !defined?(title)
  - title = nil

.card.test-viewer.filled
  h2
    - if title
      = title
    - else
      | Test Results

  - test_run.groups.each do |key, group|
    h3
      = group.header

    .chart.centered
      == partial(:donut, :locals => {:total => "#{group.statistics[:passes]} / #{group.statistics[:total]}",
                                     :label => "PASSED",
                                     :legend => true,
                                     :segments => [{:label => "passes",
                                                    :total => group.statistics[:passes],
                                                    :color => "#71ec6f"},
                                                   {:label => "failures",
                                                    :total => group.statistics[:failures],
                                                    :color => "#f75d5d"},
                                                   {:label => "errors",
                                                    :total => group.statistics[:errors],
                                                    :color => "#f3ee68"},
                                                   {:label => "skips",
                                                    :total => group.statistics[:skips],
                                                    :color => "#ecb673"}]})

  h2
    | Metadata

  .test-metadata-container
    table.test-metadata
      tbody
        - test_run.metadata.each do |k, v|
          tr
            td.key
              = k.to_s.split("_").map(&:capitalize).join(" ")
            td.value
              = v
