/ This will render the test landing page for a particular project

- tabs_id = "test-#{current_layout.tab}-panels"
- if current_layout.modal?
  - tabs_id = "modal-#{tabs_id}"

- if !defined?(sidebarRevealed)
  - sidebarRevealed = current_layout.subtab.nil?

.card.filled.flex.test-viewer-project
  ul.tab-bar.tabs role=:tablist data-panels=tabs_id data-push-navigation=!current_layout.modal? data-append-title=!current_layout.modal? data-replace-navigation=!current_layout.modal?

    li.tab.sidebar data-sidebar-reveal=".sidebar.left.test-results-overview" class=(sidebarRevealed || "reveal")
      a href="#" title=I18n.t("tests.overall")
        = I18n.t("tests.overall")
        .arrow
        .arrow
        img src='/images/dynamic/hex/6aa3ae/icons/objects/plot.svg'
        img.active src='/images/dynamic/hex/ffffff/icons/objects/plot.svg'

    / Each group, defined by the individual test suite, within the test run
    - tab_count = 0
    - test_run.groups.each do |key, group|
      - active = (current_layout.subtab.nil? && tab_count == 0) || current_layout.subtab == key.to_s
      - tab_count += 1
      li.tab role=:presentation class=(!active || "active")
        a href="/tests/#{current_layout.tab}/#{key}" data-pjax=(active ? "complete" : "true") role=:tab
          = I18n.t("tests.testGroup.#{key}", :default => group.header.to_s)

    - active = current_layout.subtab == "coverage"
    li.tab role=:presentation class=(!active || "active")
      a href="/tests/#{current_layout.tab}/coverage" data-pjax=(active ? "complete" : "true") role=:tab
        = I18n.t("tests.coverage")

  .card.filled.container.flex.test-results
    .sidebar.left.test-results-overview.card.wide.flex class=(sidebarRevealed || "reveal")
      == partial(:"tests/overall", :locals => {:test_run => test_run})

    ul.tab-panels.card.filled.flex id=tabs_id
      - tab_count = 0
      - test_run.groups.each do |key, group|
        - active = (current_layout.subtab.nil? && tab_count == 0) || current_layout.subtab == key.to_s
        - tab_count += 1
        li.tab-panel.card.filled class=(!active || "active")
          - if active
            == partial(:"tests/unit-test", :locals => {:group => group})
          - else
            == partial(:loading)
              
      - active = current_layout.subtab == "coverage"
      li.tab-panel.card.filled class=(!active || "active")
        - if active
          == partial(:"tests/coverage", :locals => {:path => path})
        - else
          == partial(:loading)
