.card.test-viewer
  - if group
    / List any "describe" groups
    - if group.describes.any?
      ul.test-groups.test-describes
        - group.describes.each do |key, group|
          == partial(:"tests/group", :locals => {:group => group, :depth => 1})

    / List any "feature" groups
    - if group.features.any?
      ul.test-groups.test-features
        - group.features.each do |key, group|
          == partial(:"tests/group", :locals => {:group => group, :depth => 1})
