/ This partial renders the workflow configuration sidebar area of the workflow editor.
/ The sidebar gives a configuration editor which slides in to show options
/ for the currently selected object.

/ Locals: None

.right.sidebar.reveal.card.very-wide.flex.filled.fixed.configuration
  .configuration-panel.card.flex.filled
    == header(:id   => :options,
              :text => I18n.t('subheaders.configuration'),
              :help => I18n.t('help.configuration'))

    ul.panes.filled

    .configuration-help.mock.help.filled
      occam-workflow.workflow-widget-js.mock aria-hidden="true" 
        ul.connections.dummy
          li.connection.dummy.selected.viewing
            img.icon src=Occam::Object.iconURLFor("simulator") 
            span.type simulator
            span.name DRAMSim2
            ol.inputs.ports
              li.port.left.disconnected data-index=0 
                .label
                  span.type application/json
                  span.name General Options
                ol.connections
              li.port.left.disconnected data-index=1 
                .label
                  span.type trace
                  span.name Memory Trace
                ol.connections
            ol.outputs.ports
              li.port.right.disconnected data-index=0 
                .label
                  span.type application/json
                  span.name Statistics
                ol.connections
            ol.ports
            .view-button.of-two.bottom-button.one
              == svg(:ui, :search)
            .configure-button.of-two.bottom-button.two
              == svg(:ui, :"configuration-panel")
      == markdown(nil, :markdown => I18n.t('help.configurationPanel'))
