- if not defined?(editable)
  - editable = false

ul.tabs.tab-bar.filled
  - if editable
    li.tab.sidebar.reveal data-sidebar-reveal=".sidebar.object-select"
      a href="#"
        = I18n.t('navigation.runQueue')
        .arrow
        .arrow
        == svg(:ui, :"object-add")
    a.button.icon.save href="#" title="save" alt="save"
      == svg(:ui, :save)
  li.tab.bubble.active
    a href="#"
      = experiment.contents.first.info[:name]
  li.tab.sidebar.reveal data-sidebar-reveal=".sidebar.configuration"
    a href="#"
      = I18n.t('navigation.runQueue')
      .arrow
      .arrow
      == svg(:ui, :"configuration-panel")

occam-workflow.workflow-widget-js.card.transparent.container class=(editable ? "editable" : false) 
  - if editable
    == partial(:"workflows/sidebar", :locals => {})
    /= partial(:"workflows/workflow_sidebar", :locals => {})
  ul.connections.separator-resize
  == partial(:"workflows/configurations", :locals => {})

