/ This partial renders the sidebar area of the workflow editor.
/ The sidebar gives better support for adding objects to the workflow
/ and manipulating existing objects.

/ Locals: None

/ The arrow to collapse the sidebar
.sidebar.reveal.card.filled.flex.fixed.object-select
  .card.flex.filled
    / "Select Object"
    == header(:id   => :"workflow-select-object",
              :text => I18n.t('workflows.selectObject.header'),
              :help => I18n.t('workflows.selectObject.help'))

    ul.tabs.tab-bar
      li.tab.active
        a
          | Search
      /li.tab
        a
          | Files

    ul.tab-panels.filled.card.flex
      li.tab-panel.card.active
        / Object selection auto-completes
        form.card.widget-selection name="widget-selection" 
          .card.by-type
            h3
              = I18n.t('object-selection.filter.type')
            p
              input.auto-complete.object-type autocomplete="off" name="type" placeholder=I18n.t('fields.placeholders.filterByType') value="" data-aria-dropdown-label="Filtered Types"

          h3
            = I18n.t('object-selection.filter.name')
          input type=:hidden hidden=true name="object-id" value=""
          input.auto-complete autocomplete="off" name="name" placeholder=I18n.t('fields.placeholders.selectObject') value="" data-aria-dropdown-label="Filtered Objects"

        .object-selected.disabled
          ul.connections.dummy
            li.connection.dummy.initial
              img.icon data-object-type="object" src=Occam::Object.iconURLFor(:object, :hex=>"ae85db") 
              span.type Select
              span.name an object
              ol.inputs.ports
              ol.outputs.ports

        / Recently Used Objects
        h3
          = I18n.t('workflows.recentlyUsed.header')

        - if current_person && current_person.recentlyUsed.any?
          ul.object-list.recently-used
            - current_person.recentlyUsed.reverse.each do |link|
              - object = link.target
              li.object data-object-type=object.info[:type] data-object-revision=object.revision data-object-id=object.id
                img.icon src=object.iconURL
                - if object.info.has_key? :name
                  h2.type.object
                    span.name
                      = object.info[:name]
                  p.small.type
                    = object.info[:type]
                - else
                  h2.type.object
                    span.name
                      = object.info[:type]
        - elsif current_person
          p
            / "None"
            = I18n.t('common.none')
        - else
          p
            / "Log in"
            = I18n.t('common.noSession')
      /li.tab-panel
        p
          | No files
