/ This partial shows the System/Nodes tab.

- tabs_id = "system-#{current_layout.tab}-panels"
- if current_layout.modal?
  - tabs_id = "modal-#{tabs_id}"

.card.filled.flex.node-viewer-container.transparent
  == header(:offscreen => true,
            :sidebar   => false,
            :text      => I18n.t('system.nodes.header'),
            :help      => I18n.t('system.nodes.help'),
            :id        => :nodes)

  ul.tab-bar.tabs role=:tablist data-panels=tabs_id data-push-navigation=!current_layout.modal? data-append-title=!current_layout.modal? data-replace-navigation=!current_layout.modal?
    - active = params[:subtab].nil? || params[:subtab] == "targets"
    li.tab class=(!active || "active") role=:presentation
      a href="/system/nodes/targets" aria-controls="#{tabs_id}-targets" role=:tab
        = I18n.t('system.nodes.targets.header')
    - active = params[:subtab] == "federation"
    li.tab class=(!active || "active") role=:presentation
      a href="/system/nodes/federation" aria-controls="#{tabs_id}-federation" role=:tab
        = I18n.t('system.nodes.federation.header')

  ul.tab-panels.filled.flex.card.transparent
    - active = params[:subtab].nil? || params[:subtab] == "targets"
    li.tab-panel.filled class=(!active || "active")
      == partial(:"system/nodes/targets")
    - active = params[:subtab] == "federation"
    li.tab-panel.filled class=(!active || "active")
      == partial(:"system/nodes/federation")
