/ This partial shows the System/Overall tab.

.card.filled
  h2
    = I18n.t('system.jobs.header')

  - statistics = Occam::Job.statistics()
  == partial(:donut, :locals => {:total => "#{statistics[:queued]}",
                                 :label => I18n.t('system.jobs.status.queued'),
                                 :legend => true,
                                 :segments => [{:label => I18n.t('system.jobs.status.queued'),
                                                :total => statistics[:queued],
                                                :color => "#d0d0d0"},
                                               {:label => I18n.t('system.jobs.status.started'),
                                                :total => statistics[:started],
                                                :color => "#df7cff"},
                                               {:label => I18n.t('system.jobs.status.initialized'),
                                                :total => statistics[:initialized],
                                                :color => "#7e7cff"},
                                               {:label => I18n.t('system.jobs.status.ran'),
                                                :total => statistics[:ran],
                                                :color => "#7ccfff"},
                                               {:label => I18n.t('system.jobs.status.finished'),
                                                :total => statistics[:finished],
                                                :color => "#71ec6f"},
                                               {:label => I18n.t('system.jobs.status.failed'),
                                                :total => statistics[:failed],
                                                :color => "#f75d5d"}]})
  / To ensure padding at the end                                              
  p

.card
  h2
    = I18n.t('system.nodes.targets.header')

  - Occam::Job.targets(:status => true).each do |key, targetInfo|
    / Skip the 'local' target
    - next if key == :local
    h3
      = targetInfo[:name]

    / Gather and sanitize information about the target
    - targetInfo[:status] = targetInfo[:status] || {}
    - nodes = targetInfo[:status][:nodes] || []
    - available = nodes.select {|nodeInfo| nodeInfo[:available] }

    == partial(:donut, :locals => {:total => "#{available.count} / #{nodes.count}",
                                   :label => I18n.t('system.nodes.targets.up'),
                                   :legend => true,
                                   :segments => [{:label => I18n.t('system.nodes.targets.up'),
                                                  :total => available.count,
                                                  :color => "#71ec6f"},
                                                 {:label => I18n.t('system.nodes.targets.down'),
                                                  :total => nodes.count - available.count,
                                                  :color => "#f75d5d"}]})

  / To ensure padding at the end                                              
  p

.card.filled.flex
