h1.test
  == svg(:targets, :local, :class => :"large-icon")
  .name
    = I18n.t('system.header')
  .organization
    = I18n.t('system.description')
.bar

- tabs = [:overall, :jobs, :nodes]

ul.card-tabs.tabs role=:tablist data-panels="system-panels" data-push-navigation=true data-replace-navigation=!current_layout.modal?
  - tabs.each_with_index do |tab, i|
    - active = (i == 0 && params[:tab].nil?) || (current_layout.tab.to_s == tab.to_s)
    li.card-layout.tab role=:presentation class=(active ? "active" : "")
      a href="/system/#{tab}" role=:tab aria-controls="system-tab-panel-#{tab}" aria-selected=active.to_s data-pjax=(!active).to_s
        = I18n.t("system.#{tab}.header")

.container
  ul.tab-panels#system-panels
    - tabs.each_with_index do |tab, i|
      - active = (i == 0 && params[:tab].nil?) || (current_layout.tab.to_s == tab.to_s)
      li.tab-panel id="system-tab-panel-#{tab}" class=(active ? "active" : "")
        - if active
          == partial(:"system/#{tab}")
        - else
          == partial(:loading)
