/ Purpose: Displays all of the policies in effect for the system.
/
/ Locals: policies - A hash of policies with which the user should be
/                    presented. Each policy will have it's own key, and contain
/                    a subhash. The subhashes must have "title" and "text"
/                    keys.

h1
  img.large-icon src=imageURL("icons/objects/documentation.svg", :hex => current_theme.hexColorFor("header.general.icon"))
  .name
    = I18n.t('navigation.system-policies')
.bar

ul.card-tabs.tabs role=:tablist data-panels="policy-panels" data-replace-navigation=!request.xhr? data-push-navigation=!request.xhr? data-append-title=!request.xhr?
  /li.tab.sidebar data-sidebar-reveal="li.tab-panel.active .toc.sidebar"
    a.toc href="#" title=I18n.t('navigation.system-policies')
      = I18n.t 'navigation.system-policies'
      .arrow
      .arrow
      == svg(:ui, :"list-view")
  - policies.keys.each_with_index do |section, i|
    - active = (current_layout.tab.nil? && i == 0) || (current_layout.tab || "") == section
    li.tab class=(active ? "active" : "") role=:presentation
      a href="/system/policies/#{section}" role=:tab aria-controls="policy-tab-panel-#{section}" aria-selected=active.to_s
        = policies[section]["title"]

.container
  ul.tab-panels#policy-panels
    - policies.keys.each_with_index do |section, i|
      - active = (current_layout.tab.nil? && i == 0) || (current_layout.tab || "").intern == section
      li.tab-panel id="policy-tab-panel-#{section}" class=((active ? "active": ""))
        .card
          == partial(:policy_box, :locals => {:policyDetails => policies[section],
                                              :mustConsent => false})

== partial(:footer)
