- if !defined?(title)
  - title = nil

- if !defined?(desc)
  - desc = nil

- if !defined?(total)
  - total = nil

- if !defined?(label)
  - label = ""

- if !defined?(segments)
  - segments = []

- sum = segments.reduce(0){|a, b| a + (b[:total] || 0) }

- id = SecureRandom.uuid()

/ Much of this was taken and then tweaked using this great article
/ I'm not sure how much I like the stroke-based solution here over
/ a pure path based solution, nor how the text is positioned when it
/ could be positioned without the y translate, but this works and I
/ didn't have to come up with it myself. Hurray! Thanks, Mark Caron.
/ https://medium.com/@heyoka/scratch-made-svg-donut-pie-charts-in-html5-2c587e935d72

figure.donut
  .chart
    svg.donut width="200px" height="200px" viewBox=("0 0 42 42") aria-labelledby=("donut-title-#{id} donut-desc-#{id}") role="img"
      - if title
        title id="donut-title-#{id}"
          = title
      - if desc
        desc id="donut-desc-#{id}"
          = desc

      g.chart-content
        circle.donut-ring cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d2d3d4" stroke-width="3" role="presentation"

        - offset = 25
        - segments.each_with_index do |segment, i|
          - percentage = (segment[:total].to_f / sum.to_f) * 100
          circle.donut-segment cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke=segment[:color] stroke-width="3" stroke-dasharray=("#{percentage} #{100 - percentage}") stroke-dashoffset=offset aria-labelledby=("donut-segment-#{i}-title-#{id} donut-segment-#{i}-desc-#{id}")
            - if segment[:title]
              title id="donut-segment-#{i}-title-#{id}"
                = segment[:title]
            - if segment[:desc]
              desc id="donut-segment-#{i}-desc-#{id}"
                = segment[:desc]
          - offset -= percentage

      g.chart-text
        - if total
          text.chart-number x="50%" y="50%"
            = total.to_s
        text.chart-label x="50%" y="50%"
          = label
  figcaption.donut-legend
    - if defined?(accessibility-text)
      p.sr-only
        = accessibility-text
    ul.donut-keys aria-hidden="true" role="presentation"
      - segments.each do |segment|
        li
          span.circle style=("background-color: #{segment[:color]}")
          span.total
            = segment[:total]
          span.label
            = segment[:label]
