.card.loading.filled.flex.center-content data-block-given=block_given?
  p.no-javascript aria-hidden="true"
    = I18n.t('loading.javaScriptRequired')

  p.loading-500 hidden=true aria-hidden="true"
    = I18n.t('loading.error')

  p.loading-400 hidden=true aria-hidden="true"
    = I18n.t('loading.notFound')

  - if block_given?
    .card.loading.loading-content
      == yield
