- if current_layout.ie?
  script type="text/javascript" src="/js/compiled-polyfill-ie.js"

script type="text/javascript" src="/js/compiled-vendor.js"
script type="text/javascript" src="/js/compiled-xterm.js"

- if Occam::Controller.production?
  script type="text/javascript" src="/js/compiled-occam.js"
- else
  script type="module" src="/js/occam.js"
  script type="text/javascript" src="/js/compiled-occam.js" defer=true nomodule=true

- if false
  script src="https://togetherjs.com/togetherjs-min.js"

== yield_content :scripts
