.index
  .header
    img src="/images/logos/logo_large.svg"

    .video
      .screen
        - if current_layout.webp?
          img src="/images/static/yt_placeholder_16_9.webp"
        - else
          img src="/images/static/yt_placeholder_16_9.png"
        .embed
          | <iframe width="100%" height="100%" src="https://www.youtube.com/embed/rdo8X9TlstU?autoplay=0&showinfo=0&controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  .resizer
    .resizer-content
      - if current_layout.webp?
        img src="/images/static/yt_placeholder_16_9.webp"
      - else
        img src="/images/static/yt_placeholder_16_9.png"

  .markdown

  .markdown.main
    == markdown :"index/section_0_description"

    p
      | For more information about how to install, jump to the
      a< href="#installing" installation section below
      | .

  .markdown.divider
    h2
      | The Structure of Sustainability and Accountability

  .markdown.pillars
    p
      | For true software preservation and sustainability, including scientific accountability, our tooling
      |  needs to provide a strong, standard <strong>infrastructure</strong> supported by the <strong>community</strong>.
      |  Through this strong platform, we can <strong>educate</strong> the current and next generations
      |  how to construct and distribute better software, scientific artifacts, and research.
    ul
      li
        | Infrastructure
      li
        | Education
      li
        | Community

  .markdown.divider
    h2
      | At a Glance

  .markdown.facet-section
    ul.facets.grid
      li.facet
        a href="/about#software-curation"
          h3
            == svg(:ui, :curation)
            span
              | Software Curation
          p
            | A versioned package manager promoting long-term software preservation for art and science.
      li.facet
        a href="/about#build-compile-repeatability"
          h3
            == svg(:ui, :build)
            span
              | Build/Compile Repeatability
          p
            | Software is archived with its code when available and can be rebuilt in a repeatable manner.
      li.facet
        a href="/about#preservation-adaptability"
          h3
            == svg(:ui, :preservation)
            span
              | Adaptive Preservation
          p
            | Virtual Machines and/or Containers are generated on-the-fly based on adaptive knowledge.
      li.facet
        a href="/about#format-extensibility"
          h3
            == svg(:ui, :widgets)
            span
              | Widgets and Data Extensibility
          p
            | Archived software can be associated with files or data and then used to view or edit.
      li.facet
        a href="/about#access-and-discoverability"
          h3
            == svg(:ui, :search)
            span
              | Access and Discoverability
          p
            | Software metadata contains tags for the types of data it consumes which helps others discover the right tool for the job.
      li.facet
        a href="/about#workflows-and-composability"
          h3
            == svg(:ui, :workflows)
            span
              | Workflows and Composability
          p
            | Multiple programs can be chained together in a visual editor for complex operations.

  .markdown.installing.section#installing
    h2
      | Installing Your Own Occam Instance

  .markdown.installing.section
    == markdown :"index/section_installing"

  .markdown.sponsors.section
    == markdown :"index/section_sponsors"

  .markdown.sponsors.section
    == markdown :"index/section_sponsors_description"

  == partial :footer
