doctype html
html
  head
    == partial(:head)
    title
      | OCCAM
  body
    == partial(:topbar)
    .content
      == yield
      .clear
    .modal-window aria-role="dialog" role="dialog" tabindex="-1" aria-labeledby="modalLabel" 
      .loading
      .content
      .close
    == partial(:scripts)
