- if not defined?(collaborations)
  - collaborations = []

.card.filled.min-height.active.flex
  == header(:id        => :active,
            :offscreen => true, 
            :text      => t('people.active.header'),
            :reveal    => person.active.empty?,
            :help      => t('people.active.help'))

  - if current_person and person.id == current_person.id
    ul.tabs.tab-bar.filled
      == svg(:ui, :create)
      a.button.modal data-modal-tall=true href="/new"
        = I18n.t 'people.active.new.header'

  .objects-container.card.filled
    - if person.active.empty? and collaborations.empty?
      .none.card.filled.flex.center-content
        == svg(:ui, :"no-workset", :class => "none-icon")
        - if current_person and person.id == current_person.id
          p
            = I18n.t 'people.active.none-you'
        - else
          p
            = I18n.t 'people.active.none'
    ul.objects.detailed.list#active-objects
      - person.active.map(&:target).each do |subObject|
        li.object.detailed
          a href=subObject.url(:short => true)
            == svg(:objects, subObject.iconID, :class => :icon)
            p.type
              = subObject.shortType
            p.name
              = subObject.info[:name]
          .description
            = subObject.summary[0...1000]
          .statistics
            .dropdown-menu
              button.button.dropdown.actions title="Actions for #{subObject.info[:name]}" aria-haspopup=:true aria-expanded=:false
                == svg(:ui, :"actions-dropdown", :class => :icon)
              ul.dropdown-menu-options role=:menu aria-label="Actions for #{subObject.info[:name]}"
                li role=:none
                  form.icon action=(subObject.url(:path => "close")) method=:post
                    .modal-confirm-message hidden=true aria-hidden=:true
                      == markdown(nil, :markdown => I18n.t('people.active.actions.archive-confirm'))
                    == svg(:ui, :curation)
                    input.modal.modal-confirm.icon.archive type=:submit value=I18n.t('people.active.actions.archive') role=:menuitem
