.card.filled.flex
  == header(:id   => :associations,
            :text => I18n.t('people.associations.header'),
            :offscreen => true,
            :help => I18n.t('people.associations.help'))

  ul.tabs.tab-bar
    li.tab.active
      a.icon
        == svg(:ui, :viewers)
        = I18n.t('people.associations.viewer.header')
    li.tab
      a.icon
        == svg(:ui, :editors)
        = I18n.t('people.associations.editor.header')

  ul.tab-panels.filled
    - ["viewer", "editor"].each_with_index do |kind, i|
      li.tab-panel.filled class=(i == 0 ? "active" : "")
        .card.filled.flex.scrollable
          - if person.associations(kind).any?
            == partial(:"people/associations-table", :locals => {:person => person, :kind => kind})
          - else
            .card.none.filled.flex.center-content
              == svg(:ui, :"no-workset", :class => "none-icon")
              p.filled
                = I18n.t("people.associations.#{kind}.none")
