- if !defined?("pagination")
  - pagination = nil

.card.flex.filled.objects.results.collection
  == header(:id   => :collection,
            :text => I18n.t('people.collection.header'),
            :offscreen => true,
            :help => I18n.t('people.collection.help'))

  - if objects.empty?
    .card.filled.flex.center-content.none
      .none-icon data-none-category="output"
      p
        - if person == current_person
          = I18n.t("people.collection.none-you")
        - else
          = I18n.t("people.collection.none")
  - else
    == partial(:"objects/listview", :locals => {:sidebarButton   => true,
                                                :sidebarRevealed => true,
                                                :objects         => objects.take(20),
                                                :identity        => person.identity.uri,
                                                :data            => data,
                                                :pagination      => pagination})
