- canEdit = current_account && object.identity.uri == current_account.identity
- if description || (tags and not tags.empty?) || canEdit || [:website].select{|k| object.info.has_key?(k)}.any?
  .description.centered.perfect-scrollbar
    .information
      - if object.info.has_key? :website
        .website
          h2.icon.website
            = I18n.t 'subsubheaders.website'
          .value
            a href=object.info[:website] 
              = object.info[:website]

    - if tags and not tags.empty?
      ul.tags
        - tags.each do |tag|
          li.tag
            a href="/search?type=person&tags=#{tag}" 
              = tag
            .after
    - if description && description[:text] != ""
      == render_description(description[:text], object, :fenced_code_blocks => true, :path => description[:path])
    - else
      p
        em
          = I18n.t 'people.profile.noDescription'

    - if canEdit
      p.edit.edit-profile-link
        a.modal.edit-profile data-modal-tall=true href="/people/#{current_person.identity.uri}/edit" 
          = I18n.t 'common.editProfile'
