.card.filled.min-height.active.flex
  == header(:id        => :uploads,
            :offscreen => true, 
            :text      => t('people.uploads.header'),
            :reveal    => person.uploads.empty?,
            :help      => t('people.uploads.help'))

  - if current_person and person.id == current_person.id
    ul.tabs.tab-bar.filled
      == svg(:ui, :create)
      a.button.modal href="/people/#{current_person.identity.uri}/uploads/new"
        = I18n.t 'people.uploads.new.header'

  .objects-container.card.filled
    - if person.uploads.empty?
      .none.card.filled.flex.center-content
        == svg(:ui, :"no-workset", :class => "none-icon")
        - if current_person and person.id == current_person.id
          p
            = I18n.t 'people.uploads.none-you'
        - else
          p
            = I18n.t 'people.uploads.none'
    ul.objects.detailed.list#worksets
      - person.uploads.map(&:target).each do |subObject|
        li.object.detailed
          a href=subObject.url(:short => true)
            == svg(:objects, subObject.iconID, :class => "icon")
            p.type
              = subObject.shortType
            p.name
              = subObject.info[:name]
          .description
            = subObject.summary[0...1000]
          .statistics
            ul
