- if request.xhr?
  / Modal view
  h1.edit-profile
    == svg(:ui, :edit, :class => "large-icon action edit-profile")
    .name id=((request.xhr? ? "modalLabel" : false))
      | Edit Profile
    .organization
      | Update your profile information, avatar image, and biography.
  .bar
- else
  == partial :"people/header", :locals => {:person => person}

== partial :errors, :locals => {:errors => errors}

form.card.filled.flex.transparent.modal action="/people/#{person.identity.uri}" method=:post name=:person_edit enctype="multipart/form-data"
  .card.filled.flex.profile-editor
    == header(:offscreen => true,
              :hidden    => true,
              :text      => I18n.t('objects.metadata.edit.header'),
              :help      => I18n.t('objects.metadata.edit.help'),
              :id        => :"edit-metadata")

    ul.tabs.tab-bar
      li.edit.tab.active
        a.icon href="#general"
          == svg(:ui, :"list-view")
          | General
      li.edit.tab.active
        a.icon href="#notifications"
          == svg(:ui, :social)
          | Notifications
    ul.tab-panels.flex.filled
      li.tab-panel.profile-editor.active.flex.filled
        .card.full.filled
          .editing-table
            .editing-table-field
              label for=:organization
                | organization
              input type=:hidden name=:"nullify[organization]" value="on"
              input type=:text id=:organization name=:"data[organization]" value=current_person.info[:organization]

            .editing-table-field
              label for=:name
                | display name
              input type=:text id=:name name=:"data[name]" value=current_person.info[:name]

            .editing-table-field
              label for=:email
                | email
              input type=:hidden name=:"nullify[email]" value="on"
              input type=:text id=:email name=:"data[email]" value=current_person.account.email

            .editing-table-field
              label for=:description
                | bio
              textarea id=:description name=:"data[description]"
                = current_person.info[:description]

            .editing-table-field
              label for=:avatar
                | upload avatar image
              input type=:file name=:avatar
      li.tab-panel.profile-editor.flex.filled
        .card.full.filled
          .editing-table
            /.editing-table-field
              label for=:email_preferences
                | email settings

              /ul.facets.subscriptions
                - (['Make my email public']).each_with_index do |email_setting, j|
                  li
                    .subscription-list
                      input type=:hidden name="email_setting[#{j}]" value=email_setting
                      input type=:hidden name="email_setting[#{j}]" value=current_person.account.email_public
                      label.facet.subscription.slider-checkbox for="email_setting-#{j}"
                        input.facet.subscription id="email_setting-#{j}" name="email_setting[#{j}]" type="checkbox" value="#{email_setting}" checked=current_person.account.email_public
                        span.label.facet.name
                          = email_setting

              /label for=:subscriptions
                | Email Subscriptions

              /- (['When my workflows finish',
                  'When my workflows fail',
                  'When my builds finish',
                  'When my builds fail']).each_with_index do |subscription, i|
                li
                  .subscription-list
                    input type=:hidden name="subscription[#{i}]" value=subscription
                    input type=:hidden name="subscription[#{i}]" value=((current_person.account.subscriptions).include? subscription)
                    label.facet.subscription.slider-checkbox for="subscription-#{i}"
                      input.facet.subscription id="subscription-#{i}" name="subscription[#{i}]" type="checkbox" value="#{subscription}" checked=((current_person.account.subscriptions).include? subscription)
                      span.label.facet.name
                        = subscription
  .card.submit
    .submit
      input.button type=:submit value=I18n.t('common.update')
