/ Purpose: Displays a form to create a new person
/
/ Locals: errors - A collection of errors that are passed when the form
/                  is reloaded after a validation error. nil when no errors.
/         policies - A hash of policies with which the user should be
/                    presented. Each policy will have it's own key, and contain
/                    a subhash. The subhashes must have "title" and "text"
/                    keys.
/         pwPolicyMarkdown - A markdown string describing the password policy.

h1
  == svg(:ui, :login, :class => "large-icon signup")
  .name
    = I18n.t 'people.new.header'
.bar 
.div style="overflow-y:auto; background-color:white;"
  form.center.modal action="/people" method=:post name=:people_new
    == partial :errors, :locals => {:errors => errors}
    .card
      - unless pwPolicyMarkdown.nil?
        == header(:help => pwPolicyMarkdown, :offscreen => true)
      label for=:username
        = I18n.t "people.new.fields.username"
      input.short type="text" id=:username name=:username
      label for=:password
        = I18n.t "people.new.fields.password"
      input.short type="password" id=:password name=:password autocomplete="off"
      label for=:email
        = I18n.t "people.new.fields.email"
      input.short type="text" id=:email name=:email
      - if !policies.nil?
        label
          = I18n.t "people.new.fields.acceptPolicies"
        / Keep the checkboxes center aligned but left aligned on the
        / checkboxes.
        .policies style="text-align:center; margin-bottom:.9rem;"
          .div style="display:inline-block; text-align:left;"
            - policies.sort_by {|k, v| v['title']}.each do |policy, policyDetails|
              - policyName = "policy_".concat(policy)
              div style='font:0.9rem "Open Sans"; color:black; margin-bottom:.1rem;'
                .checkbox
                  input.checkbox type=:checkbox name=policyName checked=false style="vertical-align:middle; margin-right:0.5rem; height:1rem;"
                  span.name
                    a href='/system/policies/#{policy}' target='_blank'
                      = policyDetails["title"]
    .card.submitting hidden=true
      .signup-animation
        p
          = I18n.t "people.new.pending"
        == partial(:loading)
    .card.filled
      .submit
        input#signup.button data-modal-check-errors=true type=:submit value=I18n.t('people.new.submit') name=:submit
