/ Locals: errors - A collection of errors that are passed when the form
/                  is reloaded after a validation error. nil when no errors.
/         person - The person whose password is being reset.
/         pwPolicyMarkdown - A markdown string describing the password policy.
- if request.xhr?
  / Modal view
  h1.edit-password
    == svg(:ui, :login, :class => "large-icon edit-password")
    .name id=((request.xhr? ? "modalLabel" : false)) 
      = I18n.t('people.updatePassword.header')
    .organization
      = I18n.t('people.updatePassword.description')
  .bar
- else
  == partial :"people/header", :locals => {:person => person}

.div style="overflow-y:auto; background-color:white;"
  == partial :errors, :locals => {:errors => errors}

  form.modal action="/people/#{person.identity.uri}/password" method=:post name=:person_edit_password enctype="multipart/form-data"
    .card
      - unless pwPolicyMarkdown.nil?
        == header(:help => pwPolicyMarkdown, :offscreen => true)
      label for=:old_password
        = I18n.t "people.updatePassword.fields.currentPassword"
      input.short type="password" id=:old_password name=:old_password autocomplete="off"
      label for=:password
        = I18n.t "people.updatePassword.fields.newPassword"
      input.short type="password" id=:password name=:password autocomplete="off"
    .card.filled
      .submit
        input.button data-modal-check-errors=true type=:submit value=I18n.t('people.updatePassword.submit')
