/**
 * Styles the workflow tab for objects containing a workflow.
 *
 * This handles both the main workflow editor and the run view for queued
 * workflows.
 */

// Common styling for all sidebars
@import "objects/workflow/sidebars.scss";

// The jobs sidebar
@import "objects/workflow/job-sidebar.scss";

// The configuration sidebar
@import "objects/workflow/configuration-sidebar.scss";

// The object selection sidebar
@import "objects/workflow/selection-sidebar.scss";

// The dummy workflow node when dragging to the widget
occam-workflow {
  ul.connections {
    li.connection.dummy {
      //pointer-events: none;
    }
  }
}
