/ Renders a form to view or edit a metadata record.

- if !defined?(data)
  - data = {}

- schema = Occam::Metadata.schemaFor(format) || Occam::Configuration.schemaFor(data)
- name = Occam::Metadata.nameOf(format)

/ The form will upload the new data to the object.json metadata
form.card.transparent.filled.flex.configuration.modal#new-io action=(object.url(:path => "files/object.json")) method=:post
  /== renderConfiguration(schema)
  /== renderConfiguration({}, nil, :editing => true)

  / The prefix will decode to place the metadata within the object's metadata block
  - prefix = "data[#{Base64.urlsafe_encode64('metadata')}][#{Base64.urlsafe_encode64(format)}]"
  == renderConfiguration(schema, data, { :editing => name.nil?,
                                         :prefix => prefix })
