/ Renders the Inputs/Outputs of the object
/
/ Locals:
/   object - The Occam::Object being rendered

- if object.info[:type] != "experiment" && (object.info[:inputs] || object.info[:outputs] || object.canEdit?)
  / A horizontal card so inputs and outputs are to each side
  .card.flex.metadata-io.horizontal.transparent
    .card.flex.horizontal.transparent
      / The object inputs
      .card.flex.filled.metadata-io-inputs
        == header(:text      => I18n.t('objects.metadata.inputs.header'),
                  :help      => I18n.t('objects.metadata.inputs.help'),
                  :id        => :inputs)

        ol.inputs.object-list
          - (object.info[:inputs] || []).each_with_index do |input, i|
            li.input.object data-object-type=input[:type]
              - if object.canEdit?
                form.icon action=object.url(:path => "files/object.json") method=:post
                  input type=:hidden name=:referrer value="metadata"
                  input type=:hidden name=:"nullify[inputs(#{i})]" value="on"
                  input type=:hidden name=:"data[inputs(#{i})]" value=""
                  button.delete value="delete"
                    == svg(:ui, :remove)
                .metadata-io-inputs-edit.action.icon
                  a.edit.modal href=object.url(:path => "/metadata/inputs/#{i}/edit") value="edit" title=I18n.t('objects.metadata.inputs.edit.header')
                    == svg(:ui, :edit)
              == svg(:objects, Occam::Object.iconIDFor(input[:type]), :class => "icon")
              h2.name.object
                span.name
                  = input[:name]
              p.type
                = input[:type]
                - if input[:subtype]
                  - if not input[:subtype].is_a?(Array)
                    - input[:subtype] = [input[:subtype]]
                  = " (#{(input[:subtype] || []).join(" ")})"
            - if input[:type] == "configuration"
              - if object.canEdit? && (input[:schema] == "" || input[:schema].nil?)
                li.input.object.warning.configuration-warning
                  p.icon role=:presentation
                  p.icon role=:presentation
                  == svg(:ui, :error, :class => "warning icon")
                  h2.name.object
                    = I18n.t('objects.metadata.inputs.errors.schemaBlank')
                  p role=:presentation
              - if object.canEdit? && object.retrieveFileStat(input[:schema]).nil?
                li.input.object.warning.configuration-warning
                  p.icon role=:presentation
                  p.icon role=:presentation
                  == svg(:ui, :error, :class => "warning icon")
                  h2.name.object
                    = I18n.t('objects.metadata.inputs.errors.schemaNotFound')
                  p role=:presentation
              li.input.object.supplemental.configuration-schema-row
                - if object.canEdit?
                  p.icon role=:presentation
                  .metadata-io-inputs-edit.action.icon
                    a.edit.modal href=object.url(:path => "configure/#{i}") value="edit" title=I18n.t('objects.metadata.inputs.configuration.header') data-modal-tall=true
                      == svg(:ui, :edit)
                p.icon role=:presentation
                h2.name.object
                  = I18n.t('objects.metadata.io.fields.schema')
                p.type
                  = input[:schema]
              li.input.object.supplemental.configuration-file-row
                - if object.canEdit?
                  p.icon role=:presentation
                  p.icon role=:presentation
                p.icon role=:presentation
                h2.name.object
                  = I18n.t('objects.metadata.io.fields.file')
                p.type
                  = input[:file]

        - if object.canEdit?
          a.add.modal href=object.url(:path => "/metadata/inputs/new")
            == svg(:ui, :create, :class => "icon")

      / The object outputs
      .card.flex.filled.metadata-io-outputs
        == header(:text      => I18n.t('objects.metadata.outputs.header'),
                  :help      => I18n.t('objects.metadata.outputs.help'),
                  :id        => :outputs)

        ol.outputs.object-list
          - (object.info[:outputs] || []).each_with_index do |output, i|
            li.input.object data-object-type=output[:type]
              - if object.canEdit?
                form.icon action=object.url(:path => "files/object.json") method=:post
                  input type=:hidden name=:referrer value="metadata"
                  input type=:hidden name=:"nullify[outputs(#{i})]" value="on"
                  input type=:hidden name=:"data[outputs(#{i})]" value=""
                  button.delete value="delete"
                    == svg(:ui, :remove)
                .metadata-io-outputs-edit.action.icon
                  a.edit.modal href=object.url(:path => "/metadata/outputs/#{i}/edit") value="edit" title=I18n.t('objects.metadata.outputs.edit.header')
                    == svg(:ui, :edit)
              == svg(:objects, Occam::Object.iconIDFor(output[:type]), :class => "icon")
              h2.name.object
                span.name
                  = output[:name] || "output"
              p.type
                = output[:type]
                - if output[:subtype]
                  - if not output[:subtype].is_a?(Array)
                    - output[:subtype] = [output[:subtype]]
                  = " (#{(output[:subtype] || []).join(" ")})"

        - if object.canEdit?
          a.add.modal href=object.url(:path => "/metadata/outputs/new")
            == svg(:ui, :create, :class => "icon")

  / The object workflow preview
  /.card.filled.metadata-io-preview
    == header(:text      => I18n.t('objects.metadata.workflowPreview.header'),
              :help      => I18n.t('objects.metadata.workflowPreview.help'),
              :id        => :"workflow-preview")

    .workflow-widget-zone
      ul.connections.card.filled.flex.center-content
        li.connection.initial
          img.icon src=object.iconURL
          span.type
            = object.info[:type]
          span.name
            = object.info[:name]
          ol.inputs.ports
            - (object.info[:inputs] || []).each do |port|
              li.input.port.disconnected.left
                .label
                  span.type
                    = port[:type]
                  span.name
                    = port[:name] || "input"
          ol.outputs.ports
            - (object.info[:outputs] || []).each do |port|
              li.output.port.disconnected.right
                .label
                  span.type
                    = port[:type]
                  span.name
                    = port[:name] || "output"
