- if !defined?(id)
  - id = "description"

- if !defined?(name)
  - name = "data[description]"

- tabs_id = "#{id}-edit-panes"
- if request.xhr?
  - tabs_id = "modal-#{tabs_id}"

- if !defined?(active)
  - active = true

.card.filled.flex.markdown-editor
  ul.tabs.tab-bar data-panels=tabs_id
    li.edit.tab class=(active ? "active" : "")
      a.icon href="?preview=false" 
        == svg(:ui, :edit)
        | Edit
    li.preview.tab
      a.icon href="?preview=true" 
        == svg(:ui, :view)
        | Preview
    span.separator
    button.button.icon.button-bold type=:button title="Bold"
      == svg(:ui, :bold, :class => :icon)
    button.button.icon.button-italic type=:button title="Italic"
      == svg(:ui, :italic, :class => :icon)
    button.button.icon.button-header type=:button title="Header"
      == svg(:ui, :heading, :class => :icon)
    span.separator
    button.button.icon.button-quote type=:button title="Quote"
      == svg(:ui, :quote, :class => :icon)
    button.button.icon.button-ul type=:button title="List"
      == svg(:ui, :list, :class => :icon)
    button.button.icon.button-ol type=:button title="Numbered List"
      == svg(:ui, :"numbered-list", :class => :icon)
    span.separator
    button.button.icon.button-code type=:button title="Insert Code Block"
      == svg(:ui, :code, :class => :icon)
    button.button.icon.button-link type=:button title="Insert Link"
      == svg(:ui, :link, :class => :icon)
    button.button.icon.button-image type=:button title="Insert Image"
      == svg(:ui, :image, :class => :icon)
  ul.tab-panels.flex.filled id=tabs_id
    li.tab-panel.flex.filled class=(active ? "active" : "")
      label for="edit-object-description" hidden=true
        | Content (Markdown)
      textarea#edit-object-description.markdown type="text" name=name
        = data
    li.tab-panel.flex.filled.top-details
      .card.top-details.full
        .description.markdown-preview
