- new = false
- if !defined?(value) || value.nil?
  - value = {}
  - new = true

- if !defined?(name)
  - name = value[:name] || ""

- if !defined?(type)
  - type = value[:type] || "service"

- if !defined?(summary)
  - summary = value[:summary] || ""

- if !defined?(priority)
  - priority = value[:priority] || ""

- if !defined?(index)
  - index = ""

- prefix = "data[requires(#{index})]"
- nullify = "nullify[requires(#{index})]"

h1.new-requirement
  == svg(:ui, :create, :class => "large-icon action new-requirement")
  .name id=((request.xhr? ? "modalLabel" : false))
    = I18n.t("objects.metadata.requires.#{new ? 'new' : 'edit'}.header")
  .organization
    = I18n.t("objects.metadata.requires.#{new ? 'new' : 'edit'}.description")
.bar

== partial :errors, {:locals => {:errors => errors}}

- tabs_id = "new-requirement-panes"
- if request.xhr?
  - tabs_id = "modal-#{tabs_id}"

form.card.transparent.filled.flex.modal.new-requirement-data action=(object.url(:path => "files/object.json")) method=:post
  .card.filled.flex.new-requirement.objects.transparent
    == header(:offscreen => true,
              :hidden    => true,
              :text      => I18n.t('objects.metadata.requires.new.header'),
              :help      => I18n.t('objects.metadata.requires.new.help'),
              :id        => :"new-requirement")

    ul.tabs.tab-bar data-panels=tabs_id
      li.new-requirement.tab.active.step
        a.icon href="#service"
          == svg(:ui, :search)
          | Service
      li.edit.tab.step disabled=true
        a.icon href="#general"
          == svg(:ui, :edit);
          | Metadata
    ul.tab-panels.flex.filled id=tabs_id
      li.tab-panel.transparent.new-requirement.active.flex.filled#new-requirement-select-service
        .card
          input type=:text value="" name=:query placeholder="filter results"
          .objects-container.input-selection.grid-view
            ul.objects.perfect-scrollbar
              template.object-template.object
                li.object.input
                  a href="#"
                    == svg(:objects, :object, :class => "icon")
                    p.type
                      | type
                    p.name
                      | name
                    p.id hidden=true
                      | id
                    p.uid hidden=true
                      | uid
                    p.file hidden=true
                      | file
                    p.revision hidden=true
                      | revision
      li.tab-panel.metadata.flex.filled
        .card.filled.full
          .editing-table
            .editing-table-field
              label for=:"add-requirement-name"
                = I18n.t('objects.metadata.requires.fields.name')
              input#add-requirement-name type=:hidden name=:"#{prefix}[name]" value=name
              input#add-requirement-name-display type=:text name=:"#{prefix}[__name__]" value=name disabled=true

            / Type is always 'service'
            input#add-requirement-type type=:hidden name=:"#{prefix}[type]" value=type hidden=true

            .editing-table-field
              label for=:"add-requirement-summary"
                = I18n.t('objects.metadata.requires.fields.summary')
              input type=:hidden name=:"#{nullify}[summary]" value=:on
              input#add-requirement-summary type=:text name=:"#{prefix}[summary]" value=summary

            .editing-table-field
              label for=:"add-requirement-priority"
                = I18n.t('objects.metadata.requires.fields.priority')
              select#add-requirement-action.selector name=:"#{prefix}[priority]"
                option data-i18n=I18n.t('objects.metadata.requires.priority.required')
                  | required
                option data-i18n=I18n.t('objects.metadata.requires.priority.optional')
                  | optional
                option data-i18n=I18n.t('objects.metadata.requires.priority.if-needed')
                  | if-needed

          / Ensures the padding exists at the bottom
          p role=:presentation
  .card.submit
    .submit
      input type=:hidden name=:referrer value="metadata"
      input type=:hidden name=:message value="Adds {type} {name} requirement."
      input#add-requirement-submit.button name="add" type="submit" value=I18n.t("objects.metadata.requires.new.submit")
