/ This modal will view citations for an object.

- if !defined?(format)
  - format = nil

- if !defined?(data)
  - data = {}

h1.records
  == svg(:ui, :metadata, :class => "large-icon records")
  .name id=((request.xhr? ? "modalLabel" : false)) 
    = I18n.t('objects.metadata.records.header')
  .organization
    = I18n.t('objects.metadata.records.description')
.bar

== partial :errors, {:locals => {:errors => errors}}

- tabs_id = "records-panes"
- if request.xhr?
  - tabs_id = "modal-#{tabs_id}"

.card.filled.transparent.flex.records
  == header(:offscreen => true,
            :hidden    => true,
            :text      => I18n.t('objects.metadata.records.header'),
            :help      => I18n.t('objects.metadata.records.help'),
            :id        => :metadata)
  ul.tabs.tab-bar
    / The 'Overview' tab lists all the metadata records possible
    li.tab class=(format ? false : "active")
      a href=(object.url(:path => "records")) 
        = I18n.t('objects.metadata.records.overview')
    / For each metadata structure that already exists, make a tab to view/edit
    / Or if one is specified, this is the active tab
    - if format
      li.tab.active data-record-key=format
        a href=object.url(:path => "records/#{format}/edit")
          / Lookup the metadata name
          = Occam::Metadata.nameOf(format) || format
    - (object.info[:metadata] || {}).keys.each do |k|
      - if k.to_s != format.to_s
        li.tab data-record-key=k
          a data-pjax=:true href=object.url(:path => "records/#{k}/edit")
            / Lookup the metadata name
            = Occam::Metadata.nameOf(k) || k

  ul.tab-panels.card.flex.filled
    li.tab-panel.card.flex.filled class=(format ? false : "active")
      .card.filled.flex.records
        / Show a button to generate the metadata reprot for each possible format
        .card.filled.flex.objects-container
          ul.objects.list.filled
            - Occam::Metadata.list.each do |key, format|
              li.object.record data-record-short=Occam::Metadata.nameOf(key) data-record-key=key
                / This link will open the metadata record in a new tab
                a href=object.url(:path => "records/#{key}") target=:_blank
                  | #{format[:name] || key}
                / When we can edit the object, we add a button to add metadata
                - if object.canEdit?
                  a.add href=object.url(:path => "records/#{key}/edit")
                    == svg(:ui, :"create-metadata", :class => "icon")
    - if format
      li.tab-panel.active.card.filled.flex
        == partial(:"objects/metadata/edit-record", :locals => {:object => object,
                                                                :data => data,
                                                                :format => format})
    - (object.info[:metadata] || {}).keys.each do |k|
      - if k.to_s != format.to_s
        li.tab-panel.card.filled.flex
          .loading
  template.tab
    li.tab data-record-key="format"
      a data-pjax=:true href=object.url(:path => "records/format/edit")
        | Format
  template.tab-panel
    li.tab-panel.card.filled.flex
      .loading
