- if !defined?(sidebar)
  - sidebar = nil

/ Embedded views override the sidebar visibility
- if current_layout.view == :embedded || current_layout.view == :minimal
  - sidebar = :closed

- if !defined?(noBuildList)
  - noBuildList = false

- if !defined?(runs)
  - runs = []

- if !defined?(builds)
  - builds = []

- if !defined?(viewer)
  - viewer = nil

- if viewer
  - viewer.info(true)

- if !defined?(input)
  - input = nil

- if !defined?(build)
  - build = nil

- if !defined?(phase)
  - phase = :run

- nativeText  = false
- if input
  - if input.path && input.isText?(input.path)
    - nativeText  = true

- if !defined?(queue)
  - queue = nil

- viewing = !queue && (nativeText || (!running && !viewer.nil? && viewer.info[:architecture] == "javascript"))

/ Which tab is active first
- activeTab = :runForm
- if viewing
  - activeTab = :viewer
- elsif phase == :build && !build.nil? && !object.link
  - activeTab = :buildManifest

ul.tab-panels.run-viewer.card.flex.filled
  li.tab-panel.run-form.card.filled class=(activeTab == :runForm ? "active" : "")
    - if !viewing
      == partial(:"objects/run-form", :locals => locals)
    - else
      .loading.white.filled.transparent
  - if !queue && !viewer.nil? && viewer.info[:architecture] == "javascript"
    li.tab-panel.viewer.filled.flex.active class=(running ? "" : "active") data-viewer-id="0"
      .card.filled.flex.object-viewer.separator-resize
        ul.tab-bar.tabs.widget-toolbar hidden=true data-icon-color=current_theme.hexColorFor("tabs.tertiary.icon") data-active-icon-color=current_theme.hexColorFor("tabs.tertiary.active.icon") data-inactive-icon-color=current_theme.hexColorFor("tabs.tertiary.inactive.icon") data-disabled-icon-color=current_theme.hexColorFor("tabs.tertiary.disabled.icon") data-hover-icon-color=current_theme.hexColorFor("tabs.tertiary.hover.icon")

        .card.filled.container.flex
          / Configuration panel
          .sidebar.left.middle.wide.configuration-panel.card.filled.flex.reveal
            == header(:id   => :options,
                      :text => I18n.t('subheaders.configuration'),
                      :help => I18n.t('help.configuration'))

            ul.panes.card.filled.flex.full
              - if viewer
                == partial(:"objects/configuration_pane", :locals => {:object => viewer})

          - sandbox = "allow-pointer-lock allow-scripts"
          - if trusted_host || viewer.trusted?
            - sandbox = false
          - token = false
          - if current_account
            - token = current_account.token
          - elsif params[:token]
            - token = params[:token]
          - iframeSrc = viewer.fileURL(:full => true,
                                       :withToken => token,
                                       :host => trusted_host,
                                       :scheme => request.scheme)

          - if !defined?(width)
            - width  = "100%"
            - height = "100%"

          - viewerSize = viewer.info[:size]

          - if !defined?(resizeToAspectRatio)
            - resizeToAspectRatio = true

          - if !defined?(height) || resizeToAspectRatio
            - if viewerSize && width.is_a?(Integer)
              - height = (viewerSize['height'] || 400).to_i * width / (viewerSize['width'] || 450).to_i

          - if !defined?(scale)
            - scale = 1.0

          - baseWidth = width
          - baseHeight = height

          - if width.is_a? Integer
            - baseWidth = "#{baseWidth}px"
            - width = width * scale
            - width = "#{width}px"

          - if height.is_a? Integer
            - baseHeight = "#{baseHeight}px"
            - height = height * scale
            - height = "#{height}px"
          - if !defined?(file)
            - file = nil
          - src = iframeSrc
          - if running
            - src = ""
          - if input
            iframe.fill.full-widget.separator-resize style=("overflow: hidden; width: #{width}; height: #{height}; display: block;") sandbox=sandbox allow="autoplay *; fullscreen" src=src data-src=iframeSrc data-input-object-id=input.withinUuid data-input-object-type=input.info[:type] data-input-object-revision=input.withinRevision data-input-file=file data-input-build-id=(build ? (build.object.link || build.id) : nil) data-link=input.link data-token=encrypt_token(input) data-object-id=viewer.id data-object-revision=viewer.revision onload="this._ready = true;" allowfullscreen=true data-input-object-index=(input.index ? input.index.join(';') : nil) data-trusted-host=(trusted_host ? trusted_host : nil)
          - else
            iframe.fill.full-widget.separator-resize style=("overflow: hidden; width: #{width}; height: #{height}; display: block;") sandbox=sandbox allow="autoplay *; fullscreen" src=src data-src=iframeSrc onload="this._ready = true;" allowfullscreen=true data-trusted-host=(trusted_host ? trusted_host : nil)
      .card.filled.separator hidden=true
      .card.filled.no-resize hidden=true
        .panel-selector
          select.selector
            option
              | Pane 1
            option
              | Pane 2
            option
              | Pane 3
  - if build
    li.tab-panel.card.flex.filled.build-manifest class=(activeTab == :buildManifest ? "active": "") data-task-id=(build.object.link || build.id)
      .card.build
        .description
          .information
            - if !(build.status || {})[:stage]
              .uuid
                h2.uuid
                  == svg(:metadata, :uuid)
                  span.label
                    = I18n.t 'subsubheaders.id'
                p
                  - if !build.status
                    | Not built
                  - elsif build.id
                    = build.id
                  - else
                    | Unknown
              .hash
                h2.hash
                  == svg(:metadata, :qrcode)
                  span.label
                    = I18n.t 'subsubheaders.builds.hash'
                p
                  - if !build.status
                    | Not built
                  - elsif build.status[:hash]
                    = build.status[:hash]
                  - else
                    | Unknown
            .history
              h2.history
                == svg(:metadata, :history)
                span.label
                  = I18n.t 'subsubheaders.builds.time'
              p
                - if !build.status
                  | Not built
                - elsif build.status[:elapsed]
                  = ChronicDuration.output(build.status[:elapsed].round(2))
                - else
                  | Unknown
            .date
              h2.date
                == svg(:metadata, :date)
                span.label
                  = I18n.t 'subsubheaders.builds.date'
              p
                - if !build.status
                  | Not built
                - elsif build.status[:published]
                  = I18n.l(Time.iso8601(build.status[:published]))
                - else
                  | Unknown
            .backend
              h2.backend
                == svg(:metadata, :backend)
                span.label
                  = I18n.t 'subsubheaders.builds.backend'
              p
                - if !build.status
                  | Not built
                - elsif build.status[:backend]
                  = build.status[:backend]
                - else
                  | Unknown
      == partial(:"objects/task", :locals => {:task => build})
    li.tab-panel.card.flex.filled.build-log class=(activeTab == :buildLog ? "active" : "") data-task-id=(build.object.link || build.id)
      .terminal.card.transparent.flex.filled data-object-id=object.id data-object-revision=object.revision data-object-link=(object.link ? object.link : false) data-build-id=build.id data-build-revision=build.revision data-terminal-type=:"build-log" data-account-token=(current_account ? current_account.token : false)
  - elsif phase == :build # no build, but build phase... means we are loading the queue
    li.tab-panel.card.flex.filled.build-manifest class=(activeTab == :buildManifest ? "active": "")
    li.tab-panel.card.flex.filled.build-log class=(activeTab == :buildLog ? "active" : "")
  template.file-tab
    li.file-tab.tab-panel.filled
      == partial(:loading)
  template.task
    .task-panel.loading.card.filled.flex
  template.viewer
    li.tab-panel.viewer.filled.flex
      .card.filled.flex.object-viewer.separator-resize
        - sandbox = "allow-pointer-lock allow-scripts"
        ul.tab-bar.tabs.widget-toolbar hidden=true data-icon-color=current_theme.hexColorFor("tabs.tertiary.icon") data-active-icon-color=current_theme.hexColorFor("tabs.tertiary.active.icon") data-inactive-icon-color=current_theme.hexColorFor("tabs.tertiary.inactive.icon") data-disabled-icon-color=current_theme.hexColorFor("tabs.tertiary.disabled.icon") data-hover-icon-color=current_theme.hexColorFor("tabs.tertiary.hover.icon")
        .card.filled.container.flex
          / Configuration panel
          .sidebar.left.middle.wide.configuration-panel.card.filled.flex.reveal
          iframe.fill.full-widget.separator-resize style=("overflow: hidden; width: 100%; height: 100%; display: block;") allow="autoplay *; fullscreen" sandbox=sandbox onload="this._ready = true;" data-trusted-host=(trusted_host ? trusted_host : nil)
      .card.filled.separator hidden=true
      .card.filled.no-resize hidden=true
        .panel-selector
          select.selector
            option
              | Pane 1
            option
              | Pane 2
            option
              | Pane 3
  template.event data-type="port"
    li.event.port
      span.scheme hidden=true
        | #{request.scheme}
      span.host hidden=true
        | #{request.host}
      p
        | Port opened at
        a href="" target="_blank" rel=("noopener noreferrer")
  template.terminal
    .job-panel.card.filled.flex
      ul.events
      .terminal.card.filled.flex
      iframe.card.filled hidden=true data-trusted-host=(trusted_host ? trusted_host : nil)
  template.workflow
    ul.workflows.card.flex.filled.tab-panels
      li.tab-panel.active
        occam-workflow.workflow-widget-js.card.filled.container
          == partial(:"workflows/job_sidebar", :locals => {})
          template.job-terminal
            .terminal.card.filled.flex.job-viewer data-account-token=(current_account ? current_account.token : false) data-terminal-type=:logs
  / The run form is the place to queue new runs
  template.pending
    == partial(:loading) do
      p
        | Generating tasks and queuing jobs...
  template.vnc-viewer
    li.tab-panel.run-vnc hidden=true style="z-index:999999"
      #noVNC_status_bar.noVNC_status_bar hidden=true
        #noVNC_status
          | Press 'Start' to request a session.
        #noVNC_buttons hidden=true
          span#noVNC_xvp_buttons
            input#sendCtrlAltDelButton type=:button value="CtrlAltDel"
            input#xvpShutdownButton    type=:button value="Shutdown"
            input#xvpRebootButton      type=:button value="Reboot"
            input#xvpResetButton       type=:button value="Reset"
            input#pointerLockButton    type=:button value=("Pointer Lock")

      #noVNC_container
        input.button#stream_connect_button type=:button value="Start"
        canvas#noVNC_canvas width="0" height="0"
          | Canvas support is required for this capability.
nav.sidebar.right.reveal aria-labelledby="run-list-heading" data-panel-type="queue" data-phase=phase
  h2.sr-only#run-list-heading
    = I18n.t("headers.runList")
  template.run-item.workflow-run
    li
      .before
      a href="#"
        span.status
          .dot
          .dot
          .dot
        span.date
  template.run-item.running
    li
      .before
      a href="#"
        span.status
          == svg(:objects, :object, :class => :icon)
          .dot
          .dot
          .dot
        span.type
        span.name
  template.run-item.viewing
    li
      .before
      a href="#"
        span.status
          == svg(:objects, :object, :class => :icon)
          .dot
          .dot
          .dot
        span.type
        span.name
      ul.actions
        li.action.view data-action="view"
          button title="view" alt="view"
            = I18n.t('run-panel.queue.actions.view')
            == svg(:ui, :search, :class => :icon)
        li.action.configure data-action="configure"
          button title="configure" alt="configure"
            = I18n.t('run-panel.queue.actions.configure')
            == svg(:ui, :"configuration-panel", :class => :icon)
        li.action.fullscreen data-action="fullscreen"
          button title=("go to fullscreen") alt=("go to fullscreen")
            = I18n.t('run-panel.queue.actions.fullscreen')
            == svg(:ui, :fullscreen, :class => :icon)
        li.action.delete data-action="delete"
          button title="shutdown" alt="shutdown"
            = I18n.t('run-panel.queue.actions.shutdown')
            == svg(:ui, :remove, :class => :icon)
  ul.runs.perfect-scrollbar class=((phase == :build) ? "builds" : nil)
    li.queue class=(activeTab == :runForm || (!viewing && object.link) ? "active" : "")
      .before
      - urlpath = "#{running ? "run" : (build ? "builds/#{build.object.link || build.id}/view" : "view")}/queue#{file || (input || object).path || ""}"
      a href=((input || object).url(:path => urlpath)) data-pjax=viewing.to_s
        span.status
          == svg(:ui, :new, :class => :icon)
        span.text
          = I18n.t('common.enqueue')
    - if object.info[:type] == "experiment" || object.info[:type] == "workflow"
      - object.as(Occam::Workflow).runs.reverse.each_with_index do |run, i|
        == partial(:"objects/run-list-item", :locals => {:run => run, :object => object})
    - if viewing && viewer
      li data-configurable=viewer.configurations.any? data-status="viewing" data-viewer-id="0" class="active" data-object-id=viewer.id data-object-revision=viewer.revision
        .before
        a href="#"
          span.status
            == svg(:objects, viewer.iconID, :class => :icon)
            .dot
            .dot
            .dot
          span.type
            = viewer.info[:type]
          span.name
            = viewer.info[:name]
        ul.actions
          li.action.view data-action="view"
            button title="view" alt="view"
              = I18n.t('run-panel.queue.actions.view')
              == svg(:ui, :search, :class => :icon)
          - if viewer.configurations.any?
            li.action.configure data-action="configure"
              button title="configure" alt="configure"
                = I18n.t('run-panel.queue.actions.configure')
                == svg(:ui, :"configuration-panel", :class => :icon)
          li.action.fullscreen data-action="fullscreen"
            button title=("go to fullscreen") alt=("go to fullscreen")
              = I18n.t('run-panel.queue.actions.fullscreen')
              == svg(:ui, :fullscreen, :class => :icon)
          li.action.delete data-action="delete"
            button title="shutdown" alt="shutdown"
              = I18n.t('run-panel.queue.actions.shutdown')
              == svg(:ui, :remove, :class => :icon)
    / The staged list item
    - if object.info[:type] != "experiment" && object.info[:type] != "workflow"
      - if object.link && phase == :build
        == partial(:"objects/run-list-item", :locals => {:staged => phase, :object => object, :active => (build && build.id == object.link)})
        p
          = I18n.t("objects.build.publishedBuilds")
      - if !viewing && object.link && phase == :run
        == partial(:"objects/run-list-item", :locals => {:staged => phase, :object => object})
        p
          = I18n.t("objects.run.publishedRuns")
    - runs.each do |run|
      == partial(:"objects/run-list-item", :locals => {:run => run, :object => object})
    - if !viewing && phase == :run && runs.empty?
      p
        em
          = I18n.t("objects.run.noPreviousRuns")
    - builds.each do |build|
      == partial(:"objects/run-list-item", :locals => {:build => build, :object => object})
    / List previous builds of this object
    - if phase == :build && !noBuildList
      - if object.builds.empty?
        p
          em
            = I18n.t("objects.build.noPreviousBuilds")
      - object.builds.each do |subBuild|
        == partial(:"objects/run-list-item", :locals => {:build => subBuild, :object => object, :active => (build && build.id == subBuild.id)})
