- if !defined?(preferredRunner) || preferredRunner.nil?
  - preferredRunner = object

- if !defined?(runners) || runners.nil?
  - runners = []

.card.flex.filled
  == header(:id   => :run,
            :offscreen => true,
            :sidebar => true,
            :text => I18n.t('objects.run.header'),
            :help => I18n.t('objects.run.help'))

  ul.tabs.tab-bar.filled.object-runner-info hidden=(current_layout.view == :minimal) data-allow-merge=true
    li.tab.sidebar.job-list.reveal hidden=true
      a href="#" title=I18n.t('objects.run.sidebars.jobs.header')
        .arrow
        .arrow
        == svg(:ui, :"workflow-job-list")
    .help.left
      p
        == svg(:ui, :info, :class => :icon)
        | Open/close job logs here.
    li.dropdown-menu role=:presentation aria-hidden=:true hidden=true
      button.dropdown
      ul.dropdown-menu-options.options
    li.tab.sidebar.run-queue.reveal data-sidebar-reveal='.sidebar[data-phase="run"]'
      a href="#" title=I18n.t('objects.run.sidebars.queue.header')
        .arrow
        .arrow
        == svg(:ui, :"run.small")

  == partial(:"objects/viewer", :locals => {:viewerObject => preferredRunner,
                                            :label        => I18n.t('object-selection.running'),
                                            :object       => object,
                                            :running      => true,
                                            :viewers      => runners,
                                            :help         => defined?(help) ? help : ""})
