h1.license
  == svg(:metadata, :license, :class => "large-icon action license")
  .name id=((request.xhr? ? "modalLabel" : false)) 
    = I18n.t('headers.eula')
  .organization
    = I18n.t('description.eula')
.bar

- if license.file.nil?
  / This is a guessed license
  .card.blue
    p
      = I18n.t(:"flash.inferredLicense")

.card.flex.filled.transparent
  .card.filled.license
    == render_description("```\n#{license.text.strip}\n```", object, :fenced_code_blocks => true)

  form.modal name=:eula 
    .card.filled
      .submit
        input.button type="submit" value=I18n.t('common.accept') name=:submit 
