h1.make-template
  == svg(:ui, :fork, :class => "large-icon action make-template")
  .name id=((request.xhr? ? "modalLabel" : false)) 
    = I18n.t('objects.make-template.header')
  .organization
    = I18n.t('objects.make-template.description')
.bar

== partial :errors, {:locals => {:errors => errors}}

form.card.filled.flex.modal action=object.url(:path => "make-template") method=:post name=:fork 
  .card.filled
    label for=:name 
      = I18n.t('objects.metadata.name')
    input type="text" id=:name name=:name value=object.info[:name] 
  .card
    .submit
      input.button type="submit" value=I18n.t('objects.make-template.submit') name=:submit 
