- if !defined?(name)
  - name = ""

- if !defined?(type)
  - type = ""

- if !defined?(revision)
  - revision = ""

- if !defined?(id)
  - id = ""

- if !defined?(uid)
  - uid = ""

- if !defined?(key)
  - key = "dependencies"

h1.select-object
  == svg(:ui, :create, :class => "large-icon action select-object")
  .name id=((request.xhr? ? "modalLabel" : false)) 
    | Select Object
  .organization
    | Find an object to use.
.bar

== partial :errors, {:locals => {:errors => errors}}

- tabs_id = "select-object-panes"
- if request.xhr?
  - tabs_id = "modal-#{tabs_id}"

.card.filled.flex.select-object.results.objects.transparent
  ul.tabs.tab-bar data-panels=tabs_id
    li.sidebar.tab data-sidebar-reveal=".search.sidebar"
      a.facets href="#" title=I18n.t('navigation.showSidebar') alt=I18n.t('navigation.showSidebar')
        = I18n.t('navigation.showSidebar')
        .arrow
        .arrow
        .arrow
        == svg(:ui, :facets)
    li.edit.tab.active
      a.icon href="#search" 
        == svg(:ui, :search)
        | Search
    li.edit.tab.file
      a.icon href="#file" 
        == svg(:ui, :"file-listing")
        | File
  .card.results-panes-container.transparent.container.flex.filled
    - data = {}
    - objects = []
    - if !request.xhr?
      - data = Occam::Object.fullSearch(:name => "",
                                        :type => type,
                                        :excludeTypes => ["task"],
                                        :account => current_account)
      - objects = data[:objects]
    == partial(:"objects/listview/sidebar", :locals => {:sidebarRevealed => true,
                                                        :query           => "",
                                                        :type            => type,
                                                        :data            => data,
                                                        :objects         => objects})
    form.card.transparent.filled.flex.modal#select-object action='#' method=:post
      ul.tab-panels.flex.filled id=tabs_id
        li.tab-panel.object-search.active.flex.filled
          .card.filled.full.search-results-preview-container class=(request.xhr? ? "loading" : "")
            - if objects.any?
              == partial(:"objects/listview/preview", :locals => {:objects => objects})
        li.tab-panel.file.flex.filled
          .card.filled.full.files
          .card
            .submit
              input type=:hidden name=:referrer value="metadata" 
              input type=:hidden name=:message value="Adds {type} {name} as a dependency."
              input#select-object-type type=:hidden name=:"data[#{key}()][type]" value=type
              input#select-object-name type=:hidden name=:"data[#{key}()][name]" value=name
              input#select-object-id type=:hidden name=:"data[#{key}()][id]" value=id
              input#select-object-uid type=:hidden name=:"data[#{key}()][uid]" value=uid
              input#select-object-revision type=:hidden name=:"data[#{key}()][revision]" value=revision
              input#select-object-submit.button type="submit" value=I18n.t('objects.metadata.new-dependency.submit') name=:submit disabled=(id == "" || id.nil?)
