/ This modal will allow a person to create a new object from an uploaded file

h1.create
  == svg(:ui, :create, :class => "large-icon action create")
  .name id=((request.xhr? ? "modalLabel" : false)) 
    = I18n.t('people.uploads.new.header')
  .organization
    = I18n.t('people.uploads.new.description')
.bar

== partial :errors, {:locals => {:errors => errors}}

- tabs_id = "upload-object-panes"
- if request.xhr?
  - tabs_id = "modal-#{tabs_id}"

.card.filled.transparent.flex.upload-object
  == header(:offscreen => true,
            :hidden    => true,
            :text      => I18n.t('people.uploads.new.header'),
            :help      => I18n.t('people.uploads.new.help'),
            :id        => :new)

  ul.tabs.tab-bar data-panels=tabs_id
    li.upload-object.tab.active.step
      a.icon href="#general"
        == svg(:ui, :edit)
        | Metadata
    li.upload-object.tab.step.submitting disabled=true
      a.icon href="#creation"
        == svg(:ui, :create)
        | Upload!

  form.card.filled.flex.transparent.modal.upload-object-data action="/people/#{current_person.identity.uri}/uploads" method=:post name=:create
    ul.tab-panels.flex.filled id=tabs_id
      li.tab-panel.transparent.upload-object.active.flex.filled#upload-object-metadata
        .card
          .editing-table
            .editing-table-field
              label for=:file
                | file
              input type=:file name=:file
            .editing-table-field
              label for="upload-object-type"
                = I18n.t('objects.metadata.type')
              input#upload-object-type.auto-complete.object-type type=:text autocomplete="off" name="type" value="" aria-label=I18n.t("objects.metadata.type") data-aria-dropdown-label="Filtered Types" data-icon-url=Occam::Object.iconURLFor(:object) title=I18n.t("objects.metadata.type") placeholder=I18n.t('objects.metadata.placeholders.type-detect')
              ul.auto-complete.initial-list hidden=true
                li data-i18n=I18n.t('objectTypes.image') data-icon-url=Occam::Object.iconURLFor(:image)
                  | image
            .editing-table-field
              label for="upload-object-name"
                = I18n.t('objects.metadata.name')
              input#upload-object-name value="" type=:text placeholder=I18n.t('objects.metadata.placeholders.name-provided') name="name" aria-label=I18n.t("objects.metadata.name") title=I18n.t("objects.metadata.name")
            .editing-table-field
              label for="upload-object-license"
                = I18n.t('objects.metadata.license')
              input#upload-object-license value="" type=:text placeholder=I18n.t('objects.metadata.placeholders.license') name="license" aria-label=I18n.t("objects.metadata.license") title=I18n.t("objects.metadata.license")
            .editing-table-field
              label for="upload-object-organization"
                = I18n.t('objects.metadata.organization')
              input#upload-object-organization value="" type=:text placeholder=I18n.t('objects.metadata.placeholders.organization') name="organization" aria-label=I18n.t("objects.metadata.organization") title=I18n.t("objects.metadata.organization")
            .editing-table-field
              label for="upload-object-website"
                = I18n.t('objects.metadata.website')
              input#upload-object-website value="" type=:text placeholder=I18n.t('objects.metadata.placeholders.website') name="website" aria-label=I18n.t("objects.metadata.website") title=I18n.t("objects.metadata.website")
            .editing-table-field
              label for="upload-object-summary"
                = I18n.t('objects.metadata.summary')
              input#upload-object-summary value="" type=:text placeholder=I18n.t('objects.metadata.placeholders.summary') name="summary" aria-label=I18n.t("objects.metadata.summary") title=I18n.t("objects.metadata.summary")
        .card.submit
          .submit
            input.button data-modal-check-errors=true value=I18n.t('people.uploads.new.submit') type=:submit name="add"
      li.tab-panel.upload-object.flex.filled#upload-object-create
        .card.submitting
          .upload-object-animation
            p
              == I18n.t('people.uploads.new.pending')
            .progress-bar
              .progress-indicator
            .card.loading
