h1.error-404
  == svg(:ui, :error, :class => "large-icon")
  .name
    = I18n.t('static.404.header')
.bar

.card.filled.markdown
  p
    = I18n.t('static.404.message')

  - if current_layout.webp?
    img src="/images/static/404.webp"
  - else
    img src="/images/static/404.png"

  p
    = I18n.t('static.common.artworkBy')
    a< href="http://zerglingsascats.com/post/60725078024/computer"
      | Jackie Kircher

.card.flex.filled

== partial(:footer)
