/ Purpose: Displays a message confirming that the forgot-password command was
/          successfully sent.
/
/ Locals:  none

h1.email-sent
  == svg(:ui, :login, :class => "large-icon login")
  .name
    = I18n.t 'sessions.emailSent.header'
.bar

modal-window
  .card.filled
    p
      = I18n.t "sessions.emailSent.confirm"
  .card.filled
