/ Purpose: Displays a form to send password reset
/
/ Locals:  none

h1.forgot-password
  == svg(:ui, :login, :class => "large-icon login")
  .name
    = I18n.t 'sessions.forgotPassword.header'
.bar

.div style="overflow-y:auto; background-color:white;"
  form.center.modal action="/forgot-password" method=:post name=:sessions_forgot_password
    == partial :errors, :locals => {:errors => errors}
    .card.submitting hidden=true
      .login-animation
        p
          = I18n.t "sessions.forgotPassword.pending"
        == partial(:loading)
    .card
      .help
        p.help-header
          == svg(:ui, :info, :class => :icon)
        p
          = I18n.t "sessions.forgotPassword.help"
      label for=:username_or_email
        = I18n.t "sessions.login.fields.usernameOrEmail"
      input type="text" id=:username_or_email name=:username_or_email
    .card.filled
      .submit
        input#forgot-password.button data-modal-check-errors=true type=:submit value=I18n.t('sessions.forgotPassword.submit') name=:submit
