/ Purpose: Displays a form to sign in
/
/ Locals:  none

h1.login
  == svg(:ui, :login, :class => "large-icon login")
  .name
    = I18n.t 'sessions.login.header'
.bar

form.card.transparent.filled.flex.modal#new-session action="/login" method=:post name=:session
  == partial :errors, :locals => {:errors => errors}
  .card.submitting hidden=true
    .login-animation
      p
        = I18n.t "sessions.login.pending"
      == partial(:loading)
  .card
    label for=:username_or_email
      = I18n.t "sessions.login.fields.usernameOrEmail"
    input type="text" id=:username_or_email name=:username_or_email value=username_or_email
    label for=:password
      = I18n.t "sessions.login.fields.password"
    input type="password" id=:password name=:password autocomplete="off"
    br
    br
    a.modal data-modal-check-errors=true href="/forgot-password"
      = I18n.t('sessions.login.forgotPassword')
    br
    br
  .card.filled
    .submit
      input#login.button data-modal-check-errors=true type=:submit value=I18n.t('sessions.login.submit') name=:submit
