/**
 * Monokai theme for rouge highlighted sections.
 */

.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight .gh {
  color: #999;
}

.highlight .sr {
  color: #f6aa11;
}

.highlight .go {
  color: #888;
}

.highlight .gp {
  color: #555;
}

.highlight .gu {
  color: #aaa;
}

.highlight .nb {
  color: #f6aa11;
}

.highlight .cm {
  color: #75715e;
}

.highlight .cp {
  color: #75715e;
}

.highlight .c1 {
  color: #75715e;
}

.highlight .cs {
  color: #75715e;
}

.highlight .c,
.highlight .cd {
  color: #75715e;
}

.highlight .err {
  color: #960050;
}

.highlight .gr {
  color: #960050;
}

.highlight .gt {
  color: #960050;
}

.highlight .gd {
  color: #49483e;
}
