.none.card.filled.flex.center-content.federation-viewer
  == header(:offscreen => true,
            :sidebar   => false,
            :text      => I18n.t('system.nodes.federation.header'),
            :help      => I18n.t('system.nodes.federation.help'),
            :id        => :"nodes-federation")
      == svg(:ui, :"no-bookmark", :class => "none-icon")
  p.filled
    = I18n.t("system.nodes.federation.none")
