.card.filled.flex.target-viewer.transparent.scrollable
  == header(:offscreen => true,
            :sidebar   => false,
            :text      => I18n.t('system.nodes.targets.header'),
            :help      => I18n.t('system.nodes.targets.help'),
            :id        => :"nodes-targets")

  / For each target, we will show its status in this table
  ul.targets.card.transparent
    - Occam::Job.targets(:status => true).each do |key, targetInfo|
      / Skip the 'local' target
      - next if key == :local

      / Gather and sanitize information about the target
      - targetInfo[:status] = targetInfo[:status] || {}
      - nodes = targetInfo[:status][:nodes] || []
      - available = nodes.select {|nodeInfo| nodeInfo[:available] }

      / Render each target
      li.target.card.scrollable data-status=targetInfo[:status][:available]
        .target-information-container.scrollable.card.flex.filled
          .target-information
            .target-information-row
              .target-availability-figure
                == partial(:donut, :locals => {:total => "#{available.count} / #{nodes.count}",
                                               :label => I18n.t('system.nodes.targets.up'),
                                               :legend => true,
                                               :segments => [{:label => I18n.t('system.nodes.targets.up'),
                                                              :total => available.count,
                                                              :color => "#71ec6f"},
                                                             {:label => I18n.t('system.nodes.targets.down'),
                                                              :total => nodes.count - available.count,
                                                              :color => "#f75d5d"}]})
              .objects-container.viewer-selection
                ul.objects
                  li.object
                    .object-header
                      == svg(:targets, targetInfo[:scheduler], :class => :icon)
                      p.type
                        = targetInfo[:scheduler]
                      p.name
                        = targetInfo[:name]
              / Availability section
              .target-availability
                p.status data-available=targetInfo[:status][:available].to_s
                  = targetInfo[:status][:available] ? I18n.t('system.nodes.targets.available') : I18n.t('system.nodes.targets.unavailable')
                table.target-availability-nodes
                  - nodes.each do |nodeInfo|
                    tr.node
                      td.status data-status=(nodeInfo[:available] ? "up" : "down") title=nodeInfo[:reason]
                        = nodeInfo[:available] ? I18n.t('system.nodes.targets.up') : I18n.t('system.nodes.targets.down')
                        - if !nodeInfo[:available]
                          == svg(:ui, :"info.small", :class => :icon)
                      td.name
                        = nodeInfo[:host]
  .card.filled.flex
